<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!-- There's no need for this contrary to popular belief
      <extensions>
        <behaviorExtensions>
          <add name="httpRequestBehavior" type="WcfHttpCompressionEnabler.HttpBehaviorExtensionElement, WcfHttpCompressionEnabler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="HttpCompressionBehavior">
            <httpRequestBehavior />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      -->
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                realm="">
                <extendedProtectionPolicy policyEnforcement="Never" />
              </transport>
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://omaralzabir-pc/WcfService/Service1.svc"                      
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IService1" 
                      contract="WcfService.IService1"
                      name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>

    <system.net>
      <webRequestModules>
        <remove prefix="http:"/>
        <add prefix="http:" type="WcfHttpCompressionEnabler.CompressibleHttpRequestCreator, WcfHttpCompressionEnabler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </webRequestModules>
    </system.net>
  
</configuration>