<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />       
    </startup>

  <!-- This setting is required because this sample contains prebuilt assemblies in the
       PreviousVersions folder, and it was downloaded from the web. When an attempt to load
       one of these assemblies is made, a TypeInitializationException is thrown with a 
       NotSuppertedException InnerException with the following message:
           "An attempt was made to load an assembly from a network location which 
           would have caused the assembly to be sandboxed in previous versions of 
           the .NET Framework. This release of the .NET Framework does not enable 
           CAS policy by default, so this load may be dangerous. If this load is 
           not intended to sandbox the assembly, please enable the loadFromRemoteSources 
           switch. See http://go.microsoft.com/fwlink/?LinkId=155569 for more information."
       
       There are three ways to resolve this issue:
       
       1. Set loadFromRemoteSources=true
       2. Rebuild the assemblies in the PreviousVersions folder
       3. Right-click the assemblies in the PreviousVersions folder, and at the bottom
          of the General tab you will see a message: 
              "This file came from another computer and might be blocked to help protect
              this computer."
          Click the Unblock button beside the message. -->
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
