<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ServiceBusConfiguration" type="Microsoft.AzureCAT.Samples.InterRoleCommunication.Framework.Configuration.ServiceBusConfigurationSettings, Microsoft.AzureCAT.Samples.InterRoleCommunication" />
  </configSections>

  <ServiceBusConfiguration defaultEndpoint="IRC-Topic">
    <add name="IRC-Topic" serviceNamespace="[PUT-YOUR-SB-NAMESPACE-HERE]" endpointType="Topic" topicName="InterRoleCommunication" issuerName="owner" issuerSecret="[PUT-YOUR-SB-ISSUERSECRET-HERE]" />
    <add name="IRC-EventRelay" serviceNamespace="[PUT-YOUR-SB-NAMESPACE-HERE]" endpointType="Eventing" servicePath="IRCEventingEndpoint" issuerName="owner" issuerSecret="[PUT-YOUR-SB-ISSUERSECRET-HERE]" />
  </ServiceBusConfiguration>

  <appSettings>
    <!-- Set PubSubType to TOPIC for topic-based pub/sub or EVENTRELAY for netEventRelay-based pub/sub -->
    <add key="PubSubType" value="TOPIC"/>
    <add key="StorageAccount" value="[PUT-YOUR-STORAGE-ACCOUNT-NAME-HERE]"/>
    <add key="StorageAccountKey" value="[PUT-YOUR-STORAGE-ACCOUNT-KEY-HERE]"/>
    <add key="TestResultsTableName" value ="ircresults"/>
    <add key="TestRunsTableName" value ="irctestruns"/>
  </appSettings>
  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" />
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
