<?xml version="1.0"?>
<!--// Copyright 2010 Microsoft Corporation
// Licensed under the Apache License, Version 2.0 (the "License");
// You may not use this file except in compliance with the License.
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

// THIS CODE IS PROVIDED *AS IS* BASIS, WITHOUT WARRANTIES OR
// CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED,
// INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OR
// CONDITIONS OF TITLE, FITNESS FOR A PARTICULAR PURPOSE,
// MERCHANTABLITY OR NON-INFRINGEMENT.

// See the Apache 2 License for the specific language governing
// permissions and limitations under the License.-->
<configuration>
  
  <appSettings>
    <!-- ACS v2 configuration -->
    <add key="AccessControlSigningCertificateFilePath" value="..\..\..\Certificates\ACS2SigningCertificate.cer"/>
    
    <!-- Idp configuration 
         This configuration depends on the idp binding used -->
    <add key="IdpEndpointAddress" value="endpoint address on a FQDN for token issuance e.g: https://contoso.com/adfs/services/trust/13/windowsmixed"/>
    
    <!-- Service configuration -->
    <add key="ServiceAddress" value="http://localhost:7200/Service/Default.aspx"/>
    <add key="ServiceCertificateFilePath" value="..\..\..\Certificates\WcfServiceCertificate.pfx"/>
    <add key="ServiceCertificatePassword" value="password"/>

  </appSettings>

  <!-- 
  Uncomment the lines below to enable WCF tracing to: WcfServiceTrace.e2e and WIF tracing to: WifServiceTrace.e2e.
  Open the trace file using the SvcTraceViewer.exe tool (shipped with the WCF SDK available from Microsoft) or a xml viewer.
  Refer to MSDN if you wish to add WCF tracing.
  
  <system.serviceModel>
    <diagnostics>
      <messageLogging maxMessagesToLog="30000"
                      logEntireMessage="true"
                      logMessagesAtServiceLevel="true"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WifServiceTrace.e2e" />
        </listeners>
      </source>
      <source name="System.ServiceModel"
              switchValue="Verbose, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="WcfServiceTrace.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  -->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
