@*
// -----------------------------------------------------------------------------------------
// <copyright file="QueryTableEntities.cshtml" company="Microsoft">
//    Copyright 2014 Microsoft Corporation
// 
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//      http://www.apache.org/licenses/LICENSE-2.0
// 
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.
// </copyright>
// -----------------------------------------------------------------------------------------
*@

@{
    ViewBag.Title = "QueryTableEntities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><b>Enter Table Name to query:</b></p>

<input type="text" id="TableName" />
<br />
<input type="button" id="QueryTable" value="Query Entities" />
<p>Query Entities is issued directly from JavaScript against Windows Azure Storage using JSON</p>
<br />



@section scripts
{
    <script src="@Url.Content("~/Scripts/drawtable.js")"></script>
    <script>

        // Sets the required headers on the request.
        // xhr: the XML http requests
        function setHeader(xhr) {
            xhr.setRequestHeader('x-ms-version', '2013-08-15');
            xhr.setRequestHeader('MaxDataServiceVersion', '3.0');
            xhr.setRequestHeader('Accept', 'application/json;odata=nometadata');

        }

        // Query the table data from windows azure storage.
        // tableSasUrl: the SAS url obtained from 
        function queryTable(tableSasUrl) {
            $.ajax({
                type: 'GET',
                datatype: "json",
                url: tableSasUrl,
                beforeSend: setHeader,
                // Render the table with all the entities if the request succeeds
                success: drawTable,
                error: function (res, status, xhr) {
                    alert("can't get the data for the specified table");
                }
            });
        }
        
        // This function calls into the server side to get the table SAS url and then 
        // pass it to queryTable function in order to query Windows Azure Storage and render the table
        function renderTable() {
            var tableName = document.getElementById("TableName").value;
            var tableSasActionUri = "@Url.Action("GetTableSasUrl", "Home")" + "?tableName=" + tableName;

            $.ajax({
                type: 'GET',
                url: tableSasActionUri,
                success: function (res, status, xhr) {
                    // Use the table SAS url to query windows azure storage.
                    queryTable(xhr.responseText);
                },
                error: function (res, status, xhr) {
                    alert("can't get SAS for table");
                }

            });
        }

        document.getElementById('QueryTable').addEventListener('click', renderTable, false);
    </script>
    <script>
        $("#mainContainer").css("width", "auto");
        $("#mainContainer").css("margin", "0 15px");
    </script>
}

<div id="metrics-table-container">
    <table id="metrics-table" class="table table-condensed table-striped"></table>
</div>

