<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScoreSvcRepo" messageEncoding="Text" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ScoreServicesRepository/ScoreServiceRepo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScoreSvcRepo"
                contract="ScoreSvcRepo.IScoreSvcRepo" name="BasicHttpBinding_IScoreSvcRepo" />
        </client>
    </system.serviceModel>
</configuration>