<div class="bg-primary panel-body">
    <h4>
        Welcome @User?.Identity?.Name, our customer in New Zealand !
    </h4>
</div>

<br/> <br/> 

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
    Home
</a>