@model User

<div class="bg-primary panel-body">
    <h4>
        @Model.UserName
    </h4>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-controller="Home" asp-action="SetUserCustomProps" asp-antiforgery="true" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Continent" >Continent:</label>
        <div class="col-sm-4">
            <select class="form-control" asp-for="Continent" asp-items="@new SelectList(Enum.GetNames(typeof(Continents)))">
                <option disabled selected value="">Select a Continent</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="ExperienceLevel">Experience Level:</label>
        <div class="col-sm-4">
            <select class="form-control" asp-for="ExperienceLevel" asp-items="@new SelectList(Enum.GetNames(typeof(ExperienceLevels)))">
                <option disabled selected value="">Select an Experience Level</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>