@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rajeesh Menoth<br />
    Menoth Parambil House
    Edappal<br />
    
</address>

<address>
    <strong>Blog:</strong> <a href="https://rajeeshmenoth.wordpress.com/">https://rajeeshmenoth.wordpress.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/rajeeshmenoth">rajeeshmenoth</a>
</address>
