<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IllusionProductDBEntities" connectionString="metadata=res://*/Illusion.ProductsEDM.csdl|res://*/Illusion.ProductsEDM.ssdl|res://*/Illusion.ProductsEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HAMBEERE-PC;initial catalog=IllusionDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>