<?xml version="1.0" encoding="utf-8"?>

<!--
  This configuration file is referenced by the App.config file in all the sample projects to supply 
  global settings.
-->
<appSettings>

  <!-- Specify the URL of the report server. At run time, this setting is used to set the 
       ReportViewer.ReportServerUrl property. -->
  <add key="ReportServerUrl" value="http://myhostname/reportserver" />

  <!-- Specify Native or SharePoint to indicate the mode of your report server instance. -->
  <add key="ReportServerMode" value="Native"/>

  <!-- Specify the folder path of the sample reports. At run time, this setting is used to compose
       the actual report path in the ReportViewer.ReportPath property.
       
       - If your report server runs in Native mode, this is the relative path of the containing 
       folder of the sample reports. It should begin with a '/'.
       
       - If your report server runs in SharePoint mode, this is the absolute URL of the SharePoint 
       site or subsite that contains the sample reports. It should begin with http:// or https:// 
       and end with a '/'. -->
  <add key="SampleReportsPath" value="/AdventureWorks 2008 Sample Reports" />

</appSettings>
