@model User

<div class="bg-primary panel-body">
    <h4>Edit User</h4>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-controller="SuperAdmin" asp-action="Edit" asp-antiforgery="true" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Id">Id: </label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="Id" disabled />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="UserName">Name: </label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="UserName"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Email">Email:</label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="Email"/>
        </div>
    </div>
    <div class="form-group">
        <!--only hashed passwords are stored in the database and the User class doesn't contain password property-->
        <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-4">
            <input class="form-control" name="password" type="password"/>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <a class="btn btn-primary" asp-controller="SuperAdmin" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>