<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="WPFReportTest.Properties.Settings.ReportTestDBConnectionString"
        connectionString="Data Source=ATIK-PC;Initial Catalog=ReportTestDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
