
*
{
	margin: 0em;
	padding: 0em;
}

h1,h2
{
}

body
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	background-color: #fff;
    text-align: center;
}

a:link  
{
    border-style: none;
    border-width: thick;
    border-color: Lime;
    text-decoration: none;
    color:  black;
}

a, a:hover 
{
    text-decoration: underline;
    color:  black;
}

a, a:visited 
{
    text-decoration: underline;
    color:  black;
}

a, a:active 
{
    text-decoration: underline;
    color:  black;
}

ul li   
{
    list-style-type:    square;
}

ul li li    
{
    list-style-type:    disc;
}

ul li li li 
{
    list-style-type:    circle;
}

ol li   
{
    list-style-type:    decimal;
}

ol ol li 
{
    list-style-type:    lower-alpha;
}

ol ol ol li
{
    list-style-type:    lower-roman;
}

hr 
{
    height:1pt;
    text-align:left
}

small
{
    font-size:  8px;
}

big
{
    font-size:  14px;
}

blockquote, pre
{
    font-family:    Lucida Console, monospace;
}


#outer
{
	padding: 0em;
	margin: 0em;
}

.addToCart
{
 border-color: Green; 
 background-color: Green;
}

.addToCart a img image
{
 border-color: yellow; 
 border-style: dashed;
 border-width: thick;
}

#header
{
	position: relative;
	background-color: Blue;
	height: 120px;
	padding-left: 2em;
}

#header h1
{
	position: absolute;
	top: 40px;
	font-size: xx-large;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#header h2
{
	position: absolute;
	font-size: 0.8em;
	top: 8em;
	color: #E0E8EF;
}

#subheader
{
	position: relative;
	background: maroon;
	height: 30px;
	padding-left: 20px;
	padding-top: 10px;
}

#subheader a
{
    color: #daa520;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size:  12px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 10px;
    text-align: left;
}


#subheader a:hover
{
	color: white;
}

#menu
{
	position: absolute;
	top: 5em;
	right: 3em;
}

#menu ul
{
	list-style: none;
}

#menu li
{
	display: inline;
	padding-left: 1.1em;
	margin-left: 1em;
	border-left: dotted 1px #E0E8EF;
}

#menu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#menu li a
{
	color: #fff;
	padding: 0.1em;
	text-decoration: none;
}

#menu li a:hover
{
	text-decoration: underline;
}


#content
{
	line-height: 1.5em;
}


#content p
{
	margin-bottom: 1.5em;
}

#content h2,h3,h4,h5,h6
{
	color: #545454;
	margin-bottom: 1em;
	border-bottom: dashed 1px #dfdfdf;
	padding-bottom: 0.3em;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.1em;
}

#content ul
{
	margin-bottom: 1.5em;
	padding-left: 1em;
	list-style: square;
}

#content blockquote
{
	margin-bottom: 1.5em;
	padding: 0.75em 0.75em 0.75em 1.5em;
	background: #FDFDFD url('images/a7.gif') top left repeat-x;
}

#content blockquote p
{
	margin-bottom: 0em;
    width: 362px;
}

#content table
{
	margin-bottom: 1.5em;
	border-collapse: collapse;
	text-align: left;
}

#content table th
{
	font-weight: bold;
	padding: 0.5em;
}

#content table td
{
	padding: 0.5em;
	border-right: solid 1px #fff;
}

#content table tr.rowH
{
	color: #fff;
	background: #006192 url('images/tableRowH.gif') top left repeat-x;
	border-right: solid 1px #fff;
}

#content table tr.rowA
{
	background: #F8F8F8 url('images/a6.gif') top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}

#content table tr.rowB
{
	background: #FDFDFD url('images/a7.gif') top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}


#mainContent
{
	background-color: #fff;
	float: right;
	margin: 0em -19em 0em -19em;
	width: 100%;
}

#centerColumn
{
	margin: 1.5em 19em 0em 17.25em;
	padding: 1.5em 3em 1.5em 3em;
}


#leftColumn
{
	position: relative;
	text-align: left;
	float: left;
	width: 14em;
	padding: 2em 1.5em 2em;
	background: #fff url('images/a1.gif') repeat-y right top;
    top: 1px;
    left: 0px;
    height: 100%;
}

#leftColumn a
{
color: Black;
font-weight: bold;
text-decoration: none;
}

#leftColumn a:hover
{
color: Red;
font-weight: bold;
font-style: italic;
text-decoration: none;
}



#rightColumn
{
	position: relative;
	float: right;
	width: 15em;
	padding: 3em 2em 1.5em 2em;
}

#rightColumn .xbg
{
	position: absolute;
	left: 0em;
	bottom: -64px;
	height: 64px;
	width: 128px;
}

#footer
{
	position: relative;
	z-index: 1;
	border-top: dashed 1px #dfdfdf;
	padding: 1em 0em 2em 0em;
	margin: 1em 2em 0em 2em;
	text-align: center;
}

.clear
{
	clear: both;
}

/* ================================
    CSS STYLES FOR THE COMMERCE STARTER KIT 
    v1.0, 10/2002
   ================================
*/   


/* */
.HomeHead
{
    color: #999966;
    font-family: Verdana, Arial;
    font-size: 20px;
    font-weight: bold;
    height: 35px
}

/* */
.ContentHead
{
    background-color: #dddca3;
    color: #696969;
    font-family: Verdana, Arial;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    height: 35px; 
    vertical-align: middle; 
    padding-top: 5px;
    padding-left: 5px;
    text-align: left;
}

/* */
.SubContentHead
{
    background-color: #dddca3;
    color: #696969;
    font-family: Verdana, Arial;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    padding: 0px 10px 0px 10px;
}

/* */
.UnitCost
{
    color: #808080;
    font-family: Verdana, Arial;
    font-size: 15px;
    line-height: 20pt
}

/* */
.ModelNumber
{
    color: #808080;
    font-family: Verdana, Arial;
    font-size: 11px;
    line-height: 20pt
}

/* */
.ErrorText
{
    color: red;
    font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 20pt
}
.MostPopularHead
{
    background-color: maroon;
    color: white;
    font-family: Verdana, Arial;
    font-size: 11px;
    font-weight: bold
}

A.MostPopularItemText, A.MostPopularItemText:link, A.MostPopularItemText:visited
{
    color: black;
    font-family: Verdana, Arial;
    font-size: 11px;
    text-decoration: none
}

A.MostPopularItemText:hover
{
    color: red;
    font-family: Verdana, Arial;
    font-size: 11px;
    text-decoration: underline
}

.ProductListHead
{
    color: black;
    font-family: Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 14pt;
    text-decoration: underline;
}
.ProductListItem
{
    color: black;
    font-family: Verdana, Arial;
    font-size: 10px
}

.CartListHead
{
    background-color: #dddca3;
    border-bottom: #696969;
    border-left: #696969 1px solid;
    color: black;
    font-family: Verdana, Arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 20pt;
    padding-left: 5px
}

.CartListItem
{
    background-color: #ffffff;
    border-color #696969;
    border-width: 1px;
    border-style: solid;
    color: black;
    font-family: Verdana, Arial;
    font-size: 11px;
    padding-left: 5px;
    width: 100%;
}

.CartListItemAlt
{
    background-color: #f2f2f2;
    border-color #696969;
    border-width: 1px;
    border-style: solid;
    color: black;
    font-family: Verdana, Arial;
    font-size: 11px;
    padding-left: 5px;
    width: 100%;
}

.CartListFooter
{
    font-weight: bold;
    background-color: #dddca3;
    line-height: 10pt
}



/* text style for the links */
A.SiteLink, A.SiteLink:link, A.SiteLink:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 11px;
}   

A.SiteLink:hover    
{
    text-decoration: underline;
    color: white;
}

img {border: none}


A.SiteLinkBold, A.SiteLinkBold:link, A.SiteLinkBold:visited
{
    color: #dddddd;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size:  11px;
    font-weight: bold
}

A.SiteLinkBold:hover
{
    color: white;
    text-decoration: none;
}

/* */
A.MenuUnselected, A.MenuUnselected:link, A.MenuUnselected:visited
{
    color: #daa520;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size:  12px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 10px
}

A.MenuUnselected:hover
{
    color: white;
    text-decoration: underline;
    padding-left: 10px
}

A.MenuSelected
{
    color: white;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size:  12px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 10px
}

A.MenuSelected:hover
{
    color: white;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px
}

/* GENERAL */

/* text style used for most text rendered by modules */
.Normal
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px    
}

.NormalDouble
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px    
}

/* text style used for textboxes in the admin pages, for Nav compatibility */
.NormalTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

/* text style used for selects in the admin pages, for Nav compatibility */
.NormalSelect
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

/* text style used for textboxes in the edit pages, for Nav compatibility */
.EditTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    border-color: #999966;
    width: 100%;
}

/* text style used for controls in the admin and edit pages, for Nav compatibility */
.NormalControl
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalCheckBox
{
    margin-left: -4px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalRadio
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-indent: -5px;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalButton
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-indent: -5px;
    background-color:#ccccaa;    
}

.NormalRed
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: red
}

.NormalBold
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    text-align: right;
}

.NormalItalic
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px    
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 500px;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}


.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}


.ValidationError
{
    background-color: Yellow;
    color: Red;
    font-weight: bold;
}
