<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>

      <!--<services>
        <service name="WcfService1.Service1">
          <endpoint address=""
                    binding="netHttpBinding"
                    contract="WcfService1.IService1"/>
          <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange"/>
        </service>
      </services>-->
      <!--<bindings>
        <netHttpBinding>
          <binding>
         
            <webSocketSettings connectionMode="Allowed" subProtocol="flights" transportUsage="WhenDuplex"/>
          </binding>
        </netHttpBinding>
      </bindings>

      
      <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>-->
        <!--<services>
            <service behaviorConfiguration="Daenet.WcfWebSocketListener.WebSocketServiceBehavior" 
                     name="Daenet.WcfWebSocketListener.MyWebSocketService">
                <endpoint address="" binding="netHttpBinding" 
                          contract="Microsoft.ServiceModel.WebSockets.IWebSocket">
                  
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/WebSocketService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>-->
    </system.serviceModel>
</configuration>
