<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
      Configuration for communicating with the Service Provider. In this example, localhost:1422 is the Service Provider.
    -->
    <add key="ConsumerServiceUrl" value="http://localhost:1422/ConsumerService.aspx" /> <!-- Consumer Service Url -->
    <add key="ServiceProviderUrl" value="http://localhost:1422" /> <!-- Service Provider Url -->
  </appSettings>
  <connectionStrings/>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Forms">
			<forms loginUrl="UserLogin.aspx">
				<credentials passwordFormat="Clear">
					<user name="iuser" password="password"/>
				</credentials>
			</forms>
		</authentication>
    <customErrors mode="Off"/>    
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
