<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Configuration for communicating with the IdP. In this example Identity Provider url is http://localhost:1423 -->
    <!-- Valid values for SingleSignOnServiceBinding are: 
      urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST
      urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect
      urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact 
      -->
    <add key="SingleSignOnServiceBinding" value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"/>
    <add key="SingleSignOnServiceUrlHttpPost" value="http://localhost:1423/SingleSignOnService.aspx?binding=post" />
    <add key="SingleSignOnServiceUrlHttpRedirect" value="http://localhost:1423/SingleSignOnService.aspx?binding=redirect" />
    <add key="SingleSignOnServiceUrlHttpArtifact" value="http://localhost:1423/SingleSignOnService.aspx?binding=artifact" />
    <add key="ArtifactServiceUrl" value="http://localhost:1423/ArtifactService.aspx" />

  </appSettings>
  <connectionStrings/>
	<system.web>
		<compilation debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="UserLogin.aspx">
        <credentials passwordFormat="Clear">
          <user name="suser" password="password"/>
        </credentials>
      </forms>
    </authentication>
		<customErrors mode="Off"/>
		<trace enabled="true" writeToDiagnosticsTrace="true"/>
	</system.web>
  <!-- Add log for the application -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
      <source name="UltimateSaml" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="TextWriter"/>
      </listeners>
    </trace>
    <sharedListeners>
      <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\SP.log"/>
    </sharedListeners>
  </system.diagnostics>-->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
