<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="262144000" />
    </diagnostics>
        <bindings>
              <basicHttpBinding>
                    <binding name="basic" />
              </basicHttpBinding>
              <wsDualHttpBinding>
                    <binding name="dual" />
              </wsDualHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost:8755/DataService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basic" contract="DataServiceProxy.IDataService" name="basic" />
              <endpoint address="http://localhost:8755/DataService.svc/dual" binding="wsDualHttpBinding" bindingConfiguration="dual" contract="DataServiceProxy.IDataService1" name="dual">
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>