@model Finance.Web.Models.GraphModel
		   
@{
	ViewBag.Title = @Resources.GraphsPageOutputTitle;
}

<h2>@Resources.GraphsPageOutputTitle</h2>


@{
	var initParams = "dateTimeMinAsString=" + Model.BeginDate.ToString() + ",dateTimeMaxAsString=" + Model.EndDate.ToString() + ",stockNameAsString=" + Model.StockNameSelected + ",graphTypeAsString=" + Model.GraphTypeSelected + ",languageAsString=" + Finance.Web.Controllers.Helpers.CultureHelper.GetCurrentCulture();
}

@Helpers.Silverlight("~/ClientBin/Finance.Silverlight.Graphs.xap", "5.0", @initParams)
