<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="..\..\..\Global.config">
    <add key="MyReportViewerUser" value=""/> <!-- Used as the user name by the MyReportServerConnection class. -->
    <add key="MyReportViewerPassword" value=""/> <!-- Used as the password by the MyReportServerConnection class. -->
    <add key="MyReportViewerDomain" value=""/> <!-- Used as the domain by the MyReportServerConnection class. -->
  </appSettings>
</configuration>