body
{
	background-image: url(fundo.png);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat;
}
style1
{
	font-family: Calibri;
	font-size: 12px;
}
.style4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
style5 {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
}
.BlackText
{
    font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
    
    }
    
    .SmallBlackText
{
    font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
    
    }
    
    .BlueText
{
    font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #5CB3FF;
    
    }

.BlueBorder
{
	border-right: #2B547E 15px solid;
	border-top: #2B547E 15px solid;
	border-bottom: #2B547E 15px solid;
	border-left: #2B547E 15px solid;
}

.FriendControlBlueBorder
{
	border-right: #2B547E 1px solid;
	border-top: #2B547E 1px solid;
	border-bottom: #2B547E 1px solid;
	border-left: #2B547E 1px solid;
}

.SkyBlueBorder
{
	border-right: #00AEEF 1px solid;
	border-top: #00AEEF 1px solid;
	border-bottom: #00AEEF 1px solid;
	border-left: #00AEEF 1px solid;
}
.GreenBorder
{
	border-right: #ADD974 1px solid;
	border-top: #ADD974 1px solid;
	border-bottom: #ADD974 1px solid;
	border-left: #ADD974 1px solid;
}

.LoginControl
{
    background-color:#F7F7DE; 
    border-color:#CCCC99;
    border-style:solid;
    border-width:1px;
    font-family:Verdana; 
    font-size:10px;     
}

