<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Configuration for communicating with the Service Provider. In this example Service Provider url is http://localhost:1424 -->
    <add key="ServiceProviderUrl" value="http://localhost:1424" />
    <add key="AssertionServiceSamlBinding" value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"/>    <!-- Valid values are: urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST and urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact -->
    <add key="AssertionServiceUrlHttpPost" value="http://localhost:1424/AssertionService.aspx?binding=post" />
    <add key="AssertionServiceUrlHttpArtifact" value="http://localhost:1424/AssertionService.aspx?binding=artifact" />
    <add key="ArtifactResolutionUrl" value="http://localhost:1424/ArtifactService.aspx" />

  </appSettings>
  <connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Forms">
			<forms loginUrl="UserLogin.aspx">
				<credentials passwordFormat="Clear">
					<user name="iuser" password="password"/>
				</credentials>
			</forms>
		</authentication>
		<customErrors mode="Off"/>
		<trace enabled="true" writeToDiagnosticsTrace="true"/>
	</system.web>
  <!-- Add log for the application -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
      <source name="UltimateSaml" switchValue="Verbose">
        <listeners>
          <add name="TextWriter"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="TextWriter"/>
      </listeners>
    </trace>
    <sharedListeners>
      <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\IdP.log"/>
    </sharedListeners>
  </system.diagnostics>-->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
