<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>RealTimeDataEditor.AspNet461</title>
</head>
<body>
<ul>
    <li><a href="angular1-app.html">Angular 1</a></li>
    <li><a href="angular2-app.html">Angular 2</a></li>
</ul>
</body>
</html>
