<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tree page</title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/application/application.js"></script>
    <script src="scripts/application/controllers/treePageController.js"></script>
    <script src="scripts/Application/services/treePageService.js"></script>
    <script src="scripts/Application/directives/pageTreeDirective.js"></script>
    <link href="/Content/Styles/TreePage.css" rel="stylesheet" />
    <link href="/Content/Styles/PagesTree.css" rel="stylesheet" />
</head>
    <body data-ng-app="application" data-ng-controller="treePageController">
        <h1>Tree view example</h1>
        <div class="treeDiv" data-ng-click="clearSelectedNode()">
            <treeview nodes="treePageItem.treeViewPageNodes" temp-data="tempData" 
                      class="treeview" />
        </div>
        <input type="button" data-ng-click="addNewNode()" class="button"
               value="Add node" />
        <input type="button" data-ng-click="removeNode()" class="button"
               value="Remove node" />
        <input type="button" data-ng-click="saveTreeData()" class="button"
               value="Save tree data" /> 
        <div data-ng-class="{updprocess: applicationBlocked}"></div>
    </body>
</html>