<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="262144000" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="128" maxConcurrentSessions="128" maxConcurrentInstances="128" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="duplexConfig">
          <reliableSession maxPendingChannels="128" />
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap/>
          </security>
          <compositeDuplex/>
          <oneWay/>
          <textMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DataServiceBehavior" name="WCFSampleDataService.DataService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8755/DataService.svc" />
          </baseAddresses>
        </host>
        <endpoint address="basic" binding="basicHttpBinding" name="basic" contract="WCFSampleDataService.IDataService" />
        <endpoint address="dual" binding="customBinding" bindingConfiguration="duplexConfig" name="dual" contract="WCFSampleDataService.IDataServiceV2" />
        <!--endpoint address="dual" binding="wsDualHttpBinding" name="dual" contract="WCFSampleDataService.IDataServiceV2" /-->
      </service>
    </services>    
  </system.serviceModel>
</configuration>