<?xml version="1.0"?>
<configuration>
    
    <appSettings>
        <add key="PauseBetweenDebugStepsInMilliseconds" value="1"/>
        <add key="DisableDebugViewOutput" value="false"/>
        <add key="LoadingFromUntrustedSourceEnabled" value="false"/>
    </appSettings>
    
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                     <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment --> 
                    <serviceMetadata httpGetEnabled="true"/>
                     <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --> 
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
            <service name="TestService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9000/"></add>
                    </baseAddresses>
                </host>
                <endpoint contract="IService" address="http://localhost:9000/service" binding="wsHttpBinding"></endpoint>
            </service>
        </services>

        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

        <client>
            <endpoint name="TestService" binding="wsHttpBinding" contract="IService" address="http://localhost:9000/service"/>
        </client>
    </system.serviceModel>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <system.diagnostics>
        <trace autoflush="true" indentsize="4"/>
        <sources>
            <!-- The AllOutput source captures output for all workflows -->
            <source name="AllOutput" switchType="System.Diagnostics.SourceSwitch" switchName="verboseSwitch">
                <listeners>
                    <add name="allOutputListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AllOutput.log">
                    </add>
                    <remove name="Default"/>
                </listeners>
            </source>
            <!-- The AllDebug source captures debug tracking for all workflows -->
            <source name="AllDebug" switchType="System.Diagnostics.SourceSwitch" switchName="debugSwitch">
                <listeners>
                    <add name="allDebugListener" type="System.Diagnostics.DelimitedListTraceListener" delimiter="," initializeData="AllDebug.csv" traceOutputOptions="ProcessId, DateTime">
                    </add>
                    <remove name="Default"/>
                </listeners>
            </source>
            <!-- for output, add new sources here where name must match workflow name without file extension, suffixed with "Output" -->
            <source name="TestLoopWithDelayOutput" switchType="System.Diagnostics.SourceSwitch" switchName="verboseSwitch">
                <listeners>
                    <add name="testLoopWithDelayOutputListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestLoopWithDelayOutput.log">
                    </add>
                    <remove name="Default"/>
                </listeners>
            </source>
            <source name="TestClientOutput" switchType="System.Diagnostics.SourceSwitch" switchName="verboseSwitch">
                <listeners>
                    <add name="testClientOutputListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestClientOutput.log">
                    </add>
                    <remove name="Default"/>
                </listeners>
            </source>
            <source name="TestServiceOutput" switchType="System.Diagnostics.SourceSwitch" switchName="verboseSwitch">
                <listeners>
                    <add name="testServiceOutputListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestServiceOutput.log">
                    </add>
                    <remove name="Default"/>
                </listeners>
            </source>
            <!-- for debug output, add new sources here where name must match workflow name without file extension, suffixed with "Debug" -->
            <source name="TestLoopWithDelayDebug" switchType="System.Diagnostics.SourceSwitch" switchName="debugSwitch">
                <listeners>
                    <add name="testLoopWithDelayDebugListener" type="System.Diagnostics.DelimitedListTraceListener" delimiter="," initializeData="TestLoopWithDelayDebug.csv" traceOutputOptions="ProcessId, DateTime">
                    </add>
                    <remove name="Default"/>
                </listeners>
            </source>
            <!-- All exception trace is captured by ErrorTraceSource -->
            <source name="ErrorTraceSource" switchType="System.Diagnostics.SourceSwitch" switchName="errorSwitch">
                <listeners>
                    <add name="errorListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Error.log">
                    </add>
                    <remove name="Default"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="errorSwitch" value="Error"/>
            <add name="verboseSwitch" value="Verbose"/>
            <add name="debugSwitch" value="Information"/>
        </switches>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
