
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <h2>My courses</h2>
    <p>Courses at Sibeesh Passion</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Cpurse ID</th>
                <th>Course Name</th>
                <th>Couorse Description</th>
            </tr>
            </thead>
            <tbody id="dbDataBody">
                
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/Node/Database.js"></script>