@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>A library which supports decoding and generating of barcodes (like QR Code, PDF 417, EAN, UPC, Aztec, Data Matrix, Codabar) within images.</p>
<qrcode alt="QR Code" content="https://rajeeshmenoth.wordpress.com/" />
<p>https://rajeeshmenoth.wordpress.com/</p>
