@model MvcSample.Models.ContactModel[]

@{
    ViewBag.Title = "Index";
}

<h2>Contacts</h2>

<br />
<br />

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "cform" }))
{
    @Html.AntiForgeryToken()

    bool enabled = true;
    
    if (TempData["saved"] != null)
    {
        enabled = false;
        @TempData["saved"].ToString();
        <br />
        <br /> 
    }

    if (enabled)
    {        
        <table id="ctbl">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </table>
        <br />
        <br />
        <input type="button" value="Add Contact" onclick="addContact();" />
        <br />
        <br />
        <input type="submit" value="Save" />
    }
}

<script type="text/javascript">

    //// template for the contact row
    var contactTemplate = '<tr class="contact"><td><input type="text" name="contacts[i].FirstName" value="" /></td>' +
                          '<td><input type="text" name="contacts[i].LastName" value="" /></td>' +
                          '<td><input type="text" name="contacts[i].Email" value="" /></td>' +
                          '<td><input type="text" name="contacts[i].Phone" value="" /></td></tr>';
   
    var index = 0;  //// track index of the added template

    //// add template and replace name attribute with the correct index
    function addContact() {
        $('#ctbl tr:last').after(contactTemplate);
        $('#ctbl tr:last').children('td').each(
          function () {
            $(this).children('input').each(
                function(){
                    var name = $(this).attr('name').replace('[i]', '[' + index + ']');
                    $(this).attr('name', name);
                }            
            );
          }
        );
        index++;
    }

</script>
