<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CodedUIQuery" publicKeyToken="8bef33aba4cdebf4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.1" newVersion="1.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>