<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.Workflow.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Microsoft.Workflow.Explorer.Properties.Settings>
      <setting name="WorkflowServiceUri" serializeAs="String">
        <value />
      </setting>
      <setting name="OAuthS2S_MetadataUri" serializeAs="String">
        <value />
      </setting>
      <setting name="OAuthS2S_UseSTSIssuedToken" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OAuthS2S_IssuerPrincipalId" serializeAs="String">
        <value />
      </setting>
      <setting name="OAuthS2S_ClientPrincipalId" serializeAs="String">
        <value />
      </setting>
      <setting name="OAuthS2S_CertificatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientRequestTimeout" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="WindowsAuth_Username" serializeAs="String">
        <value />
      </setting>
    </Microsoft.Workflow.Explorer.Properties.Settings>
  </userSettings>
</configuration>
