<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" 
         connectionString="Data Source=(localdb)\v11.0;Initial Catalog=DB_DemoUoW; Integrated Security=True"/>

    <add name="DemoGenericRepository" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DB_DemoGenericRepository;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>