<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  <Microsoft.ServiceBus>
    <relayHostName>servicebus.int6.windows-int.net</relayHostName>
    <stsHostName>accesscontrol.aadint.windows-int.net</stsHostName>
    <acmHostName>accesscontrol.aadint.windows-int.net</acmHostName>
  </Microsoft.ServiceBus>
</configuration>