<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">Administration:</a>
        <ul class="nav">
            <li><a href="/Home">Dashboard</a></li>
            <li><a href="/Lookup/Management">Types</a></li>
            <li><a href="#">Link</a></li>
            <li>@Html.Partial("_LoginPartial")</li>
        </ul>
    </div>
</div>
