USE [master]
GO
/****** Object:  Database [AJAXFileUploadSQL]    Script Date: 6/9/2012 9:57:30 PM ******/
CREATE DATABASE [AJAXFileUploadSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AJAXFileUploadSQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AJAXFileUploadSQL.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AJAXFileUploadSQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AJAXFileUploadSQL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AJAXFileUploadSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AJAXFileUploadSQL]
GO
/****** Object:  StoredProcedure [dbo].[UploadFile]    Script Date: 6/9/2012 9:57:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UploadFile]
@FileName nvarchar(255),
@FileType nvarchar(50),
@FileContent varbinary(MAX)
AS
BEGIN
insert into Files ([FileName], [FileType], [FileContent])
values (@FileName, @FileType, @FileContent)
END

GO
/****** Object:  Table [dbo].[Files]    Script Date: 6/9/2012 9:57:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Files](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[FileType] [nvarchar](50) NULL,
	[FileContent] [varbinary](max) NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Files] ADD  CONSTRAINT [DF_Files_Timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
USE [master]
GO
