<?xml version="1.0"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings/>
	<system.web>
		<compilation debug="true" />
    <authentication mode="Forms">
      <forms loginUrl="UserLogin.aspx">
        <credentials passwordFormat="Clear">
          <user name="suser" password="password"/>
        </credentials>
      </forms>
    </authentication>
		<customErrors mode="Off"/>
	</system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
