
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Page index<br />
        <br />
        <a href="@Url.Action("index", "Admin")">Admin</a>
    </div>
</body>
</html>
