<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding>
          <security mode="None" />
          <webSocketSettings />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint name="socket" 
                address="ws://localhost:8080/daenetsocket"
          binding="netHttpBinding" 
          contract="Daenet.WebSocketConsumer.IWebSocket" />
    </client>
  </system.serviceModel>
</configuration>
