body
{
	font-family: Arial;
	font-size: 9pt;
}
.ContentItem
{
	font-family: Arial;
	font-size: 9pt;
	text-decoration: none;
	color:#000000;
    cursor:pointer;
}
.IndexItem
{
	font-family: Arial;
	font-size: 9pt;
	color:#000000;
}

.ContentItem:active
{
	color: #0000CC;
	cursor:pointer;
}
.ContentItem:hover
{
	color: #000000;
	text-decoration: underline;
	cursor:pointer;
}
