<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RefreshData.Properties.Settings.StudentGradesDBConnectionString"
      connectionString="Data Source=..\..\StudentGradesDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings file="..\..\..\Global.config" />
</configuration>