<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceBusConfiguration" type="Microsoft.AzureCAT.Samples.InterRoleCommunication.Framework.Configuration.ServiceBusConfigurationSettings, Microsoft.AzureCAT.Samples.InterRoleCommunication" />
  </configSections>

  <ServiceBusConfiguration defaultEndpoint="IRC">
    <add name="IRC" serviceNamespace="[PUT-YOUR-SB-NAMESPACE-HERE]" endpointType="Topic" topicName="InterRoleCommunication" issuerName="owner" issuerSecret="[PUT-YOUR-SB-ISSUERSECRET-HERE]" />
    <add name="IRC-StaticSubscription" serviceNamespace="[PUT-YOUR-SB-NAMESPACE-HERE]" endpointType="Topic" topicName="InterRoleCommunication" subscriptionName="Static2" issuerName="owner" issuerSecret="[PUT-YOUR-SB-ISSUERSECRET-HERE]" />
  </ServiceBusConfiguration>
</configuration>