<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
	 xmlns:ui="http://schemas.microsoft.com/wix/"
	 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
 >
	<Product Id="{46D5B0B7-EDE2-4A9B-A308-47CD98C0186B}" Name="SSIS SharePoint Online List Adapters for SQL Server Integration Services" 
			 Language="1033" Version="1.0.0.0" 
			 Manufacturer="Nick Savenko" 
			 UpgradeCode="{383E9B06-324C-4594-9A7C-7679B96AE4CE}">
		<Package InstallerVersion="405" Compressed="yes" Platform="x86"
				 InstallScope="perMachine" InstallPrivileges="elevated"  
				 Comments="Sample SharePoint list adapters for SQL Server for SQL Server Integration Services"
				 Keywords="SharePoint Adapter SSIS SQL Server for SQL Server Integration Services"
				 Manufacturer="Microsoft" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
		<PropertyRef Id="NETFRAMEWORK35" />
		<Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK35]]>
		</Condition>


		<Property Id="INSTALLDIR32_2012">
			<RegistrySearch Id="FindDTSPath32_2012" Root="HKLM" Type="directory" Win64="no"
							Key="Software\Microsoft\Microsoft SQL Server\110\SSIS\Setup\DTSPath" />
		</Property>
		<Property Id="INSTALLDIR64_2012">
			<RegistrySearch Id="FindDTSPath64_2012" Root="HKLM" Type="directory" Win64="yes"
							Key="Software\Microsoft\Microsoft SQL Server\110\SSIS\Setup\DTSPath" />
		</Property>

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

		<Directory Id="TARGETDIR" Name="SourceDir">
      <Component Id="SharePointUtilityOnlineDLLGAC"  Guid="{82CCC793-E4AB-4E3D-9E18-478DB7F74B17}">
        <File Id="SharePointUtilityOnlineDLLGACFile"
            Name="SharePointUtilityOnline.dll"  KeyPath="yes"
            Source="$(var.SharePointUtilityOnline.TargetPath)" Assembly=".net" />
      </Component>
			<!-- Components to install: Gacced components, and version specific files -->
			<Directory Id="Folder2012" Name="PFiles2012">
				<Directory Id="INSTALLDIR32_2012"  Name="Microsoft SharePoint SSIS Adapter Sample x32">
					<Directory Id="DataAdapters32_2012" Name="PipelineComponents">
						<Component Id="PipelineComponentsOnline32_2012" KeyPath="yes" Guid="{CB711EB6-B14D-460B-8097-7C1A8FF6288F}">
							<File Id="PipelineComponentOnlineDLL32_2012"
									Name="SharePointListAdaptersOnline.dll"
  		 							Source="$(var.SharePointListAdapters2012.TargetDir)\SharePointListAdaptersOnline.dll" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="INSTALLDIR64_2012"  Name="Microsoft SharePoint SSIS Adapter Sample x64">
					<Directory Id="DataAdapters64_2012" Name="PipelineComponents">
						<Component Id="PipelineComponentsOnline64_2012" KeyPath="yes" Guid="{CCD41DBE-7389-4DD2-9E41-0F7E615A95F1}">
							<File Id="PipelineComponentOnlineDLL64_2012"
									Name="SharePointListAdaptersOnline.dll"
  		 							Source="$(var.SharePointListAdapters2012.TargetDir)\SharePointListAdaptersOnline.dll" />
						</Component>
					</Directory>
				</Directory>
				<Component Id="PipelineComponentOnlineDLLGAC_2012"  Guid="{3ECB7B1A-7B83-4D8B-9259-82DDFED7393A}">
					<File Id="PipelineComponentOnlineDLLGACFile_2012"
							Name="SharePointListAdaptersOnline.dll" KeyPath="yes"
							Source="$(var.SharePointListAdapters2012.TargetDir)\SharePointListAdaptersOnline.dll" Assembly=".net" />
				</Component>
			</Directory>
      
      
			<Component Id="RestartSSISService" Guid="{08CDA6E8-F058-4BAA-AB12-740E83A17A76}">
				<ServiceControl Id="SSISServiceStop" Name="MsDtsServer" Stop="both" />
			</Component>
		</Directory>

		<!-- Features for the feature picker -->
		<Feature Id="SharePointAdapters" Title="SharePoint SSIS SQL Server Adapters" Level="1" Display="expand" 
				 TypicalDefault="install">
			<ComponentRef Id="RestartSSISService" />
			<Feature Id="Sql2012" Title="SSIS Denali Components" Level="1" Display="expand" >
				<Condition Level="0"><![CDATA[INSTALLDIR32_2012 = "" AND INSTALLDIR64_2012  = ""]]></Condition>
        <ComponentRef Id="SharePointUtilityOnlineDLLGAC" />
				<ComponentRef Id="PipelineComponentOnlineDLLGAC_2012" />
				<Feature Id="Sql2012x86" Title="x86 Components (for designer and runtime)" Level="1"
					 ConfigurableDirectory="INSTALLDIR32_2012">
					<!-- Hide SQL 2012 if paths are not found -->
					<Condition Level="0"><![CDATA[INSTALLDIR32_2012 = ""]]></Condition>
					<ComponentRef Id="PipelineComponentsOnline32_2012" />
				</Feature>
				<Feature Id="Sql2012x64" Title="x64 Components (for runtime)" Level="1"
					 ConfigurableDirectory="INSTALLDIR64_2012">
					<!-- Hide 64 bit option if not 64 bit -->
					<Condition Level="0"><![CDATA[INSTALLDIR64_2012 = "" OR INSTALLDIR64_2012 = INSTALLDIR32_2012]]></Condition>
					<ComponentRef Id="PipelineComponentsOnline64_2012" />
				</Feature>
			</Feature>
		</Feature>

		<!-- Reference to the Internal WiX UI Template set which includes the Feature Picker -->
		<UIRef Id="WixUI_Mondo" />

	</Product>
</Wix>
