<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- this setting causes all log messages to be written to the console. -->
    <add key="EFTracingProvider.logToConsole" value="true"/>
    
    <!-- and this one causes them to be appended to the file, too -->
    <add key="EFTracingProvider.logToFile" value="sqllog.txt"/>
  </appSettings>
  <connectionStrings>
    <!-- 
       this connection string has been modified:
       
       'metadata' has reference to a modified ssdl file
       'provider' has been changed to 'EFTracingProvider'
       'provider connection string' has 'wrappedProvider=System.Data.SqlClient;' prepended
    
    -->
    <add name="NorthwindEntities" connectionString="metadata=NorthwindEFModel.csdl | NorthwindEFModel.msl | NorthwindEFModel.WithTracing.ssdl;
                         provider=EFTracingProvider;
                         provider connection string=&quot;wrappedProvider=System.Data.SqlClient;Data Source=.\sqlexpress;Initial Catalog=NorthwindEF;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <!-- declare provider factories -->
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
