<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    
  <connectionStrings>
           
      <add name="ApplicationServices" connectionString="Data Source=IT-DEV-3;Initial Catalog=C:\USERS\JOE STAGNER\DESKTOP\TAILSPINSPYWORKS-V0.9\TAILSPINSPYWORKS\APP_DATA\ASPNETDB.MDF;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CommerceEntities" connectionString="metadata=res://*/EDM_Commerce.csdl|res://*/EDM_Commerce.ssdl|res://*/EDM_Commerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT-DEV-3;initial catalog=C:\MYVISUALBASICPROJECTS\TAILSPINSPYWORKS-V0.9\TAILSPINSPYWORKS\APP_DATA\COMMERCE.MDF;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
      <membership>
          <providers>
              <clear/>
              <add name="AspNetSqlMembershipProvider"
                   type="System.Web.Security.SqlMembershipProvider"
                   connectionStringName="ApplicationServices"
                   enablePasswordRetrieval="false"
                   enablePasswordReset="true"
                   requiresQuestionAndAnswer="false"
                   requiresUniqueEmail="false"
                   maxInvalidPasswordAttempts="5"
                   minRequiredPasswordLength="6"
                   minRequiredNonalphanumericCharacters="0"
                   passwordAttemptWindow="10"
                   applicationName="/" />
          </providers>
      </membership>

      <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>