@model TranslateTextApp.Models.LanguageMaster
@{
    ViewData["Title"] = "Translate Text App";
}

<form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <h2>Translate Text App</h2>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <textarea asp-for="Text" rows="5" id="enterText" cols="40" placeholder="Enter text in english"></textarea>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label asp-for="LanguageSelection" class="control-label"></label>
                <select asp-items="Model.LanguagePreference" id="ddlLangCode" asp-for="LanguageCode"></select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                <textarea asp-for="@Model.TranslatedText" id="translatedText" rows="5" disabled cols="40"></textarea>
            </div>
        </div>
    </div>
</form>