<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a0068e7d-b565-4482-9aaf-43e0f18dec29");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
