<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.3" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="7.0.0" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.2016" version="8.2.0.713" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="4.1.10" targetFramework="net462" />
</packages>