<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyncMyAddress.Properties.Settings.OLMSConnectionString"
            connectionString="Data Source=yourserver;Initial Catalog=OutlookDemo;Integrated Security=True;" 
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>