#O365_AppTile_ShellFAQ .o365cs-nav-appTileIcon:before {
    content: '\e006';
}

#O365_AppTile_ShellChat .o365cs-nav-appTileIcon:before {
    content: '\e017';
}

#O365_AppTile_ShellStar .o365cs-nav-appTileIcon:before {
    content: '\e29a';
}

#O365_AppTile_ShellCheck .o365cs-nav-appTileIcon:before {
    content: '\e041';
}

#O365_AppTile_ShellSearch .o365cs-nav-appTileIcon:before {
    content: '\e039';
}

#O365_AppTile_ShellCRM .o365cs-nav-appTileIcon:before {
    content: '\e065';
}

#O365_AppTile_ShellProject .o365cs-nav-appTileIcon:before {
    content: '\e063';
}

#O365_AppTile_ShellYammer .o365cs-nav-appTileIcon:before {
    content: '\e064';
}

#O365_AppTile_ShellExcel .o365cs-nav-appTileIcon:before {
    content: '\e0b5';
}

#O365_AppTile_ShellPowerBI {
    background-color: #f2c811 !important;
    outline-color: #f2c811 !important;
}

    #O365_AppTile_ShellPowerBI .o365cs-nav-appTileIcon:before {
        content: '\e281';
    }
