USE [master]
GO
/****** Object:  Database [DB_DemoUoW]    Script Date: 18/05/2014 19:06:38 ******/
CREATE DATABASE [DB_DemoUoW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_DemoUoW', FILENAME = N'C:\Users\trueiory\DB_DemoUoW.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_DemoUoW_log', FILENAME = N'C:\Users\trueiory\DB_DemoUoW_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_DemoUoW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_DemoUoW]
GO
/****** Object:  Table [dbo].[People]    Script Date: 18/05/2014 19:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
