<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IllusionSalesDBEntities" connectionString="metadata=res://*/IllusionSalesEDM.csdl|res://*/IllusionSalesEDM.ssdl|res://*/IllusionSalesEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HAMBEERE-PC;initial catalog=IllusionDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>