.treeview,.treeview ul{padding:0;margin:0;list-style:none}
.treeview a{text-decoration:none}
.treeview ul{margin: 0 !important;}
.treeview .hitarea{height:9px;width:9px;margin-left:-12px;margin-top:3px;float:left;cursor:pointer}
.treeview .collapsable{background:url('../Images/PagesTree/minus.gif') no-repeat 0 0}
.treeview .expandable{background:url('../Images/PagesTree/plus.gif') no-repeat 0 0}
.treeview .selectedNode{background: gray}
* html .hitarea{display:inline;float:none}

.treeview li { 
	margin: 0 !important;
	padding: 3px 0 3px 9px;
}