<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings />

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="256" />
    </connectionManagement>
  </system.net>
  <system.web>
    <!--<httpHandlers>
      <add verb="*" path="*.cube" type="Microsoft.Samples.SSASProxy.CustomBasicAuthProxy" />
    </httpHandlers>-->
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpRuntime />
    <machineKey />
    <identity impersonate="false" />

  </system.web>
  <system.webServer>
    <handlers>
      <add name="SSAS Web Proxy (Integrated)" path="*.cube" verb="*" type="Microsoft.Samples.SSASProxy.CustomBasicAuthProxy" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>

</configuration>